{% extends 'index.html' %}
{% block content %}
<div class="section blue_bg">
   <div class="container-fluid">
      <div class="row">
         <!-- contact -->
         <div class="col-lg-6 col-md-12">
            <div class="contact">
               <div class="row ">
                  <div class="col-md-12">
                     <div class="titlepage text_align_center">
                        <h2>Register Here</h2>
                     </div>
                  </div>
                  <div class="col-md-12">
                     <form id="request" class="main_form" action="{{url_for('register')}}" method="post">
                        <div class="row">
                           <div class="col-md-12 ">
                              <input class="contactus" placeholder="Your name" type="text" name="name" pattern="[A-Za-z\s]+" title="Please enter a valid name (letters and spaces only)" required>
                           </div>
                           <div class="col-md-12">
                              <input class="contactus" placeholder="Phone Number" type="tel" name="phone" pattern="{10,}&" title="Please enter a valid number (number  only)" required>
                           </div>
                           <div class="col-md-12">
                              <input class="contactus" placeholder="Email" type="email" name="email" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" title="Please enter a valid email address" required>
                           </div>
                           <div class="col-md-12">
                              <input  class="contactus" placeholder="Password" type="password" name="password" id ="password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" title="Password must be at least 8 characters long and contain both letters and numbers" required>
                           </div>
                           <div class="col-md-12">
                              <input class="contactus" placeholder="confirm password" type="password" name="c_password" id="c_passwor" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" title="Password must be at least 8 characters long and contain both letters and numbers" required>
                           </div>
                           <div class="col-md-12" >
                              <button class="send_btn" type="submit">Register</button>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <!-- contact -->
         <!-- testimonial section -->
         <div class="col-lg-6 col-md-12">
            <div class="testimonial">
               <div class="row">
                  <div class="col-md-12">
                     <div class="titlepage text_align_left">
                        <h2>Motive</h2>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12">
                     <div id="myCarousel" class="carousel slide testimonial_Carousel " data-ride="carousel">
                        <ol class="carousel-indicators">
                           <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                           <li data-target="#myCarousel" data-slide-to="1"></li>
                           <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                           <div class="carousel-item active">
                              <div class="container">
                                 <div class="carousel-caption ">
                                    <div class="row">
                                       <div class="col-md-12">
                                          <div class="testimonial_box text_align_left">
                                             <p style="text-align: justify;">
                                                The motivation behind this project stems from the urgent need to address 
                                                the growing traffic congestion in urban areas, which results in increased
                                                 travel times, higher fuel consumption, and elevated pollution levels. 
                                                 As cities expand and populations grow, traditional traffic management 
                                                 strategies become insufficient. The project aims to harness the power
                                                  of machine learning to develop a predictive traffic management system
                                                   that offers real-time traffic conditions.
                                             </p>
                                          </div>
                                       </div>
                                    
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="carousel-item">
                              <div class="container">
                                 <div class="carousel-caption">
                                    <div class="row">
                                       <div class="col-md-12">
                                          <div class="testimonial_box text_align_left">
                                             <p style="text-align: justify;">
                                                The motivation behind this project stems from the urgent need to address 
                                                the growing traffic congestion in urban areas, which results in increased
                                                 travel times, higher fuel consumption, and elevated pollution levels. 
                                                 As cities expand and populations grow, traditional traffic management 
                                                 strategies become insufficient. The project aims to harness the power
                                                  of machine learning to develop a predictive traffic management system
                                                   that offers real-time traffic conditions.
                                             </p>
                                          </div>
                                       </div>
                                       
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="carousel-item">
                              <div class="container">
                                 <div class="carousel-caption">
                                    <div class="row">
                                       <div class="col-md-12">
                                          <div class="testimonial_box text_align_left">
                                             <p style="text-align: justify;">
                                                The motivation behind this project stems from the urgent need to address 
                                                the growing traffic congestion in urban areas, which results in increased
                                                 travel times, higher fuel consumption, and elevated pollution levels. 
                                                 As cities expand and populations grow, traditional traffic management 
                                                 strategies become insufficient. The project aims to harness the power
                                                  of machine learning to develop a predictive traffic management system
                                                   that offers real-time traffic conditions.
                                             </p>
                                          </div>
                                       </div>
                                 
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                           <i class="fa fa-angle-left" aria-hidden="true"></i>
                           <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                           <i class="fa fa-angle-right" aria-hidden="true"></i>
                           <span class="sr-only">Next</span>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end testimonial section -->
      </div>
   </div>
</div>
{% endblock%}